<div id='header-display' class="container d-flex">
  <div class="header-poster col-6">
    <img
      src="{{movieInfo.movie_poster}}"
      class="rounded float-start justify-content-center img-thumbnail"
    />
  </div>
  <div class="header-text col-6">
    <h1 class="text-light fs-1">{{movieInfo.movie_name}}</h1>
    <h2 class="text-light fs-2">{{movieInfo.genre}}</h2>
    <h3 class="text-light fs-3">{{movieInfo.release_date}}</h3>
    <input type="hidden" id="movie-id" data-id="{{movieInfo.id}}" />
</div>
</div>
<div class="current-reviews">
    <p class="text-light">What do others think of this movie?</p>
    <div class="container">
        <div class="row row-cols-4">
          {{#each reviewInfo as |review|}}
          <div class="col">
            <div class="card w-100 mb-4">
              <div class="card-body">
                <h5 class="card-title mb-2">{{review.review_title}}</h5>
                <div class="card-text mb-1">"{{review.review_body}}"</div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
  </div>
  <div class="add-review-container">
    <p class="text-light">Let your voice be heard below and add a review for
      this movie today!</p>
    <form class="new-review-form mb-5">
      <label for="review-title" class="form-label mb-1"></label>
      <textarea
        id="review-title"
        class="form-control mb-1"
        name="review_title"
        rows="1"
        placeholder="Title your review!"
      >{{review_title}}</textarea>
      <label for="review-body" class="form-label mb-1"></label>
      <textarea
        id="review-body"
        class="form-control mb-1"
        name="review_body"
        rows="2"
        placeholder="Write your review here"
      >{{review_body}}</textarea>
      <label for="user-name" class="form-label mb-1"></label>
      <textarea
        id="user-name"
        class="form-control mb-3"
        name="user_name"
        rows="1"
        placeholder="Leave your name"
      >{{user_name}}</textarea>
      <button type="submit" value="submit" class='btn'>Submit</button>
    </form>
  </div>
</div>
<script src="/js/addReview.js"></script>